@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*estilos de buscado*/

.seccion-formulario{
background-color: aliceblue;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.contenedor-texto-arriba{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 55vh;
  background-image: url("../img/1.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/**
.contenedor-img-persona{
  position: fixed;
  top: 20px;
  left: 100px;
  width: 200px;
}**/
.contenedor-principal-formulario{
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0px;

}

@media (max-width: 720px) {
  .contenedor-principal-formulario iframe{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .contenedor-texto-arriba{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 55vh;
    background-image: url("../img/2.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
}