@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*estilos de buscado*/

.seccion-formulario{
background-color: aliceblue;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.contenedor-texto-arriba{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 55vh;
  background-image: url("../img/1uno.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
/**
.contenedor-img-persona{
  position: fixed;
  top: 20px;
  left: 100px;
  width: 200px;
}**/
.contenedor-principal-formulario{
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0px;

}

@media (max-width: 720px) {
  .contenedor-principal-formulario iframe{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .contenedor-texto-arriba{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 55vh;
    background-image: url("../img/1uno.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
}

.seccion-modal-votantes{
  justify-content: center;
  text-align: center;
}
.boton-ingresar-votantes{
  background-color: antiquewhite;
  color: #000;
  text-decoration: 1px solid black;

}

.whatsapp{
  position: fixed;
  right: 4px;
  text-align: center;
  margin-right: 20px;
}
.whatsapp:hover{
  opacity: 0.9;
  transform: scale(1.1)
}
.whatsapp div img{
  width: 50px;
  height: 50px;
}
.contenedor-preguntas{
  right: 4px;
  color: rgb(4, 139, 28) ;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 5px;
}